/*////////////////////////////////////////////////////*/
/*FOOTER*/
footer {
	background-color: var(--footer-background);
	padding-top: 70px;
	padding-bottom: 70px;
}
#content_footer {
	margin: auto;
	width: 100%;
}
footer .section {
	margin-top: 0px;
}
footer .section > * {
	margin: 0px auto 20px 0px;
}
/*FOOTER*/
/*////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////*/
/*FONTS*/
footer h1 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--footer-title);
}
footer a {
	font-size: 15px;
	color: var(--footer-text);
}
/*FONTS*/
/*////////////////////////////////////////////////////*/

@media only screen and (max-width: 900px) {
	#footer {
		padding-left: 10px;
		padding-right: 10px;
		width: calc(100% - 20px);
	}
	#content_footer {
		flex-direction: column;
		width: auto;
	}
	#content_footer .section {
		margin: 50px auto;
		margin-left: 0px;
	}
}
