/*///////////////////////////////////*/
/*ARTICLES*/
article {
	margin: 100px 0px 100px 10%;
	width: 80%;
}
article .vertical {
	width: 100%;
}
article .vertical > * {
	margin: 20px 0px;
	overflow-wrap: break-word;
}
/*reglage des textes*/
article .vertical p.date {
	font-size: 15px;
	font-style: italic;
	margin-left: 15px;
	margin-bottom: -20px;
	position: relative;
}
article .vertical p.date::before {
	content: ">";
	position: absolute;
	left: -15px;
	bottom: 0px;
}
article .vertical h1 {
	font-size: 44px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 40px 0px;
	color: var(--article-big);
}
article .vertical h2 {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--article-medium);
}
article .vertical h3 {
	position: relative;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-top: 40px;
	margin-bottom: 40px;
	color: var(--article-medium);
}
article .vertical h3::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--article-medium);
}
article .vertical p {
	font-size: 22px;
	margin: 10px 0px;
	line-height: 1.9;
	color: var(--article-little);
}
article .vertical ul, article .vertical ol {
	margin: 10px 0px;
}
article .vertical ul li, article .vertical ol li {
	font-size: 22px;
	line-height: 1.9;
	color: var(--article-little);
	position: relative;
	margin-left: 20px;
	display: list-item;
}
article .vertical ol > li {
	list-style: decimal;
}
article .vertical ul li::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 19px;
	width: 8px;
	height: 8px;
	background-color: var(--article-little);
}
article .vertical ul.circle li::before {
	border-radius: 50%;
	background-color: var(--article-light);
}
/*reglage des videos*/
article .video-container {
	position: relative;
	padding-bottom: 55%;
	height: 0px;
	width: 100%;
	overflow: hidden;
}
article .video-container .video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
/*reglages des photos*/
article img.photo {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	margin: 20px auto;
}
article img.photo.dim {
	max-height: 100%;
	max-width: 400px;
	width: 100%;
	margin: 20px auto;
}
/*reglages des albums photos*/
article .photo-album {
	display: grid;
	grid-gap: 1vw;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-template-rows: repeat(auto-fill, 150px);
	width: 100%;
}
article .image-box {
	position: relative;
}
article .image-box .mini-photo {
	object-fit: cover;
	width: 100%;
	height: 150px;
	cursor: pointer;
}
article .image-box input {
	display: none;
}
article .image-box .zoom-box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
article .image-box input:checked + .zoom-box {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-color: rgba(150, 150, 150, 0.8);
}
article .image-box .zoom-photo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	max-width: 90%;
	max-height: 90%;
	z-index: 2;
	display: none;
}
article .image-box input:checked ~ .zoom-photo {
	display: block;
}
article .text-img {
	margin: 0px 0px 0px auto;
}
iframe.map {
	margin-bottom: 20px;
}
/*ARTICLES*/
/*///////////////////////////////////*/








/*///////////////////////////////////*/
/*ARTICLES LOYERS*/
/*couleur spéciale pour les articles sur les loyers*/
.breakingnews.loyers .news_title,
.breakingnews.loyers .news_info {
	color: var(--news-loyers);
}
/*afficher [loyers] en bas à gauche*/
.breakingnews.loyers .news_content {
	position: relative;
}
.breakingnews.loyers .news_content::after {
	content: "[loyers]";
	position: absolute;
	bottom: -40px;
	left: 0px;
	color: var(--news-loyers);
}
/*bouton afficher article loyers*/
/*cacher input*/
input#show_loyers {
	display: none;
}
/*styliser label*/
label#label_loyer {
	margin-left: 30px;
	position: relative;
}
label#label_loyer::before {
	content: "";
	position: absolute;
	left: -30px;
	top: calc(50% - 5px);
	width: 10px;
	height: 10px;
	border: 2px solid var(--article-light);
}
/*quand input checked*/
input#show_loyers:checked ~ label#label_loyer::before {
	border-color: var(--article-ultralight);
	background-color: var(--article-light);
}
/*n'afficher que les articles sur les loyers*/
#show_loyers {
	width: 10px;
}
#show_loyers:checked ~ .news_container .breakingnews:not(.loyers) {
	display: none;
}
/*ARTICLES LOYERS*/
/*///////////////////////////////////*/





/*///////////////////////////////////*/
/*JOURNAL*/
.journal article p {
	line-height: 1.5;
}
.journal article .microbe {
	font-size: 16px;
}
.journal article #article_sources {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.journal article #article_sources a {
	margin-bottom: 10px;
}
/*JOURNAL*/
/*///////////////////////////////////*/









/*///////////////////////////////////*/
/*LIENS EN BOUTONS*/
.linkbutton_wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.linkbutton {
	border: 1px solid var(--article-baklink);
	background-color: var(--article-baklink);
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	color: var(--article-ultralight);
	font-weight: 600;
}
/*LIENS EN BOUTONS*/
/*///////////////////////////////////*/







/*///////////////////////////////////*/
/*TRACT APPEL ACCUEIL*/
#tract-appel-accueil {
	border: 1px solid black;
}
/*TRACT APPEL ACCUEIL*/
/*///////////////////////////////////*/







/*///////////////////////////////////*/
/*LISTE ARTICLES*/
div.list_articles {
	margin-top: 50px;
}
div.list_articles a {
	margin: 10px;
}
/*///////////////////////////////////*/









/*///////////////////////////////////*/
/*ARTICLES EN STRIP*/
.strip article {
	background-color: var(--strip-background1);
	width: 100%;
	margin: 0px;
	padding: 100px 0px;
}
.strip article .bandeau {
	padding: 0px 10px;
	width: auto;
}
.strip .bandeau h1 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0px;
}
.strip .bandeau .color1 {
	color: var(--strip-textcolor1);
}
.strip .bandeau .color2 {
	color: var(--strip-textcolor2);
}
.strip .bandeau .color3 {
	color: var(--strip-textcolor3);
}
.strip .bandeau .color4 {
	color: var(--strip-textcolor4);
}
/*ARTICLES EN STRIP*/
/*///////////////////////////////////*/





/*///////////////////////////////////*/
/*donnees sociologiques*/
.socio {
	padding: 20px;
}
div.socio p {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1;
}
.socio.color1 {
	background-color: var(--socio-bak1);
}
.socio.color1 .first {
	color: var(--socio-first1);
}
.socio.color1 .second {
	color: var(--socio-second1);
}
.socio.color2 {
	background-color: var(--socio-bak2);
}
.socio.color2 .first {
	color: var(--socio-first2);
}
.socio.color2 .second {
	color: var(--socio-second2);
}
.socio.color3 {
	background-color: var(--socio-bak3);
}
.socio.color3 .first {
	color: var(--socio-first3);
}
.socio.color3 .second {
	color: var(--socio-second3);
}
.socio.color4 {
	background-color: var(--socio-bak4);
}
.socio.color4 .first {
	color: var(--socio-first4);
}
.socio.color4 .second {
	color: var(--socio-second4);
}
.socio.color5 {
	background-color: var(--socio-bak5);
}
.socio.color5 .first {
	color: var(--socio-first5);
}
.socio.color5 .second {
	color: var(--socio-second5);
}
.socio.color6 {
	background-color: var(--socio-bak6);
}
.socio.color6 .first {
	color: var(--socio-first6);
}
.socio.color6 .second {
	color: var(--socio-second6);
}
.socio.color7 {
	background-color: var(--socio-bak7);
}
.socio.color7 .first {
	color: var(--socio-first7);
}
.socio.color7 .second {
	color: var(--socio-second7);
}
/*donnees sociologiques*/
/*///////////////////////////////////*/







@media only screen and (max-width: 900px) {
	.strip .bandeau h1 {
		font-size: 30px;
	}
	article .vertical p.date {
		font-size: 12px;
	}
	article .vertical h1 {
		font-size: 22px;
	}
	article .vertical h2 {
		font-size: 20px;
	}
	article .vertical p {
		font-size: 16px;
		line-height: 1.5;
	}
	.journal article .microbe {
		font-size: 12px;
	}
	article .vertical ul li, article .vertical ol li {
		font-size: 16px;
		line-height: 1.5;
		margin-left: 12px;
	}
	article .vertical ul li::before {
		top: 11px;
		width: 5px;
		height: 5px;
		left: -12px;
	}
	article .vertical ul, article .vertical ol {
		margin-top: 0px;
	}
}
@media only screen and (max-width: 500px) {
	.strip .bandeau h1 {
		font-size: 20px;
	}
}
