/*////////////////////////////////////////////*/
/*ORGANISATION GLOBALE*/
main {
	width: 100%;
	position: relative;
}
#breakingnews_container {
	position: absolute;
	top: 980px;
	left: 0px;
	width: 224px;
	margin: 20px 20px;
}
#sommaire {
	width: 224px;
	margin: 140px 20px;
	height: 100%;
	padding: 10px;
	border: 2px solid var(--sommaire-frame);
}
#map_container {
	position: absolute;
	top: 600px;
	left: 0px;
	width: 224px;
	margin: 20px;
	overflow: hidden;
}
#dal_petition {
	position: absolute;
	top: 510px;
	left: 0px;
	width: 224px;
	margin: 20px;
	overflow: hidden;
}
#articles {
	width: 60%;
	margin-left: 0px;
	margin-top: 0px;
}
/*ORGANISATION GLOBALE*/
/*////////////////////////////////////////////*/








/*////////////////////////////////////////////*/
/*LA PETITION DU DAL*/
#dal_petition h1 {
	color: var(--news-title);
	margin-bottom: 10px;
}
/*LA PETITION DU DAL*/
/*////////////////////////////////////////////*/







/*////////////////////////////////////////////*/
/*LA CARTE DES GREVES*/
#map_container h1 {
	margin-bottom: 20px;
	color: var(--news-title);
}
#map_container iframe.map {
	margin-bottom: -16px;
}
#map_container a#map_link {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
/*LA CARTE DES GREVES*/
/*////////////////////////////////////////////*/






/*////////////////////////////////////////////*/
/*ORGANISATION BREAKINGNEWS*/
#breakingnews_container #news {
	margin: 10px 0px 20px 0px;
	height: 50px;
	position: relative;
}
#breakingnews_container #news::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--sommaire-frame);
}
#breakingnews_container #news a {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	color: var(--news);
	text-align: right;
}
#breakingnews_container #news p {
	text-transform: uppercase;
	font-size: 16px;
	color: var(--news);
	margin-top: 10px;
}
#breakingnews_container #plusdactu {
	margin: 20px 0px 20px auto;
	padding: 10px;
	color: var(--news);
	border: 2px solid var(--sommaire-frame);
}
/*ORGANISATION BREAKINGNEWS*/
/*////////////////////////////////////////////*/




/*////////////////////////////////////////////*/
/*SOMMAIRE*/
#sommaire * {
	margin: 5px 0px;
}
#sommaire h1 {
	font-weight: 600;
	color: var(--sommaire-menu);
	margin-bottom: 10px;
}
#sommaire a.backtomenu {
	position: relative;
	color: var(--sommaire-backmenu);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
#sommaire a.backtomenu::before {
	content: "";
	position: absolute;
	left: -20px;
	bottom: 2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 5px;
	border-color: transparent transparent var(--sommaire-backmenu-light) transparent;
}
#sommaire p {
	font-weight: 600;
	color: var(--sommaire-title);
	margin-bottom: 10px;
}
#sommaire a {
	font-weight: 100;
	color: var(--sommaire-link);
}
#sommaire a.subsommaire {
	margin-left: 20px;
	position: relative;
}
#sommaire a.subsommaire::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 8px;	
	width: 6px;
	height: 6px;
	background-color: var(--sommaire-frame);
}
/*SOMMAIRE*/
/*////////////////////////////////////////////*/



@media only screen and (max-width: 900px) {
	main#main {
		flex-direction: column;
	}
	#articles {
		width: 100%;
	}
	#sommaire {
		position: relative;
		width: 80%;
		margin: 100px auto 0px auto;
	}
	.accueil #sommaire {
		margin-top: 0px;
	}
	#breakingnews_container {
		position: relative;
		top: unset;
		left: unset;
		flex-direction: row;
		max-height: 100%;
		width: calc(100%);
		margin: 20px 0px 0px 0px;
		padding-bottom: 100px;
		overflow: scroll;
	}
	#breakingnews_container #news {
		margin: 5px 10px;
		min-width: 200px;
	}
	#breakingnews_container #news::after {
		display: none;
	}
	#breakingnews_container #plusdactu {
		position: relative;
		font-size: 12px;
		font-weight: 600;
		margin: auto 0px 10px 10px;
		padding-right: 150px;
		background-color: transparent;
		border: none;
	}
	#breakingnews_container #plusdactu::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: calc(100% - 100px);
		border: 2px solid var(--sommaire-frame);
	}
	#breakingnews_container a.breakingnews::after {
		height: 100%;
		width: 2px;
		left: -10px;
		bottom: 0px;
	}
	#breakingnews_container a.breakingnews {
		margin: 10px;
		min-width: 200px;
		max-width: 200px;
	}
	#breakingnews_container a.breakingnews .news_content {
		display: none;
	}
	#breakingnews_container a.breakingnews .news_info {
		text-align: left;
	}
	#breakingnews_container #news a {
		font-size: 16px;
	}
	#breakingnews_container h1.news_title {
		font-size: 14px;
	}
	#breakingnews_container p.news_date {
		font-size: 10px;
	}
	#breakingnews_container p.news_source {
		font-size: 12px;
	}

	/*////////////////////////////////////////////*/
	/*APPEL DU DAL*/
	#dal_petition {
		position: relative;
		top: auto;
		left: auto;
		width: 80%;
		margin: 70px auto;
		margin-bottom: 0px;
	}
	/*APPEL DU DAL*/
	/*////////////////////////////////////////////*/

	/*////////////////////////////////////////////*/
	/*CARTE DES GREVES*/
	#map_container {
		position: relative;
		top: auto;
		left: auto;
		width: 80%;
		margin: 70px auto;
		margin-bottom: -50px;
	}
	#map_container h1 {
		margin-bottom: 20px;
	}
	#map_container iframe.map {
		margin-bottom: 20px;
	}
	#map_container a#map_link {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	/*CARTE DES GREVES*/
	/*////////////////////////////////////////////*/
}

@media only screen and (max-width: 624px) {
	#map_container iframe.map {
		margin-bottom: -16px;
	}
}
