/*////////////////////////////////////////////*/
/*ORGANISATION GLOBALE*/
main {
	width: 100%;
}
#left {
	width: 224px;
	margin: 140px 20px;
}
#articles {
	width: 60%;
	margin-left: 0px;
	margin-top: 0px;
}
/*ORGANISATION GLOBALE*/
/*////////////////////////////////////////////*/




/*////////////////////////////////////////////*/
/*ORGANISATION LEFT*/
#left h1#news {
	text-transform: uppercase;
	font-size: 25px;
	margin: 10px 0px 20px 0px;
	color: var(--news);
	position: relative;
}
#left h1#news::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--sommaire-frame);
}
#left a.breakingnews {
	position: relative;
	margin: 10px 0px;
}
#left a.breakingnews * {
	cursor: pointer;
}
#left a.breakingnews .news_source {
	font-size: 18px;
	color: var(--news-info);
	text-align: right;
}
#left a.breakingnews .news_date {
	font-size: 12px;
	color: var(--news-info);
	text-align: right;
}
#left a.breakingnews .news_title {
	font-size: 20px;
	color: var(--news-title);
	margin-bottom: 10px;
}
#left a.breakingnews .news_content {
	color: var(--news-content);
	margin-bottom: 10px;
}
#left a.breakingnews::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--sommaire-frame);
}
/*ORGANISATION LEFT*/
/*////////////////////////////////////////////*/






/*////////////////////////////////////////////*/
/*SOMMAIRE*/
#sommaire {
	margin: 0px;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid var(--sommaire-frame);
}
#sommaire * {
	margin: 5px 0px;
}
#sommaire p {
	font-weight: 600;
	color: var(--sommaire-title);
	margin-bottom: 10px;
}
#sommaire a {
	font-weight: 100;
	color: var(--sommaire-link);
}
#sommaire a.subsommaire {
	margin-left: 20px;
	position: relative;
}
#sommaire a.subsommaire::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 8px;	
	width: 6px;
	height: 6px;
	background-color: var(--sommaire-frame);
}
/*SOMMAIRE*/
/*////////////////////////////////////////////*/



@media only screen and (max-width: 900px) {
	main#main {
		flex-direction: column;
	}
	#articles {
		width: 100%;
	}
	#sommaire {
		display: none;
	}
	#left {
		position: relative;
		flex-direction: row;
		max-height: 200px;
		width: calc(100%);
		margin: 20px 0px;
		overflow: scroll;
	}
	#left::after {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		top: 0px;
		left: 0px;
		border: 1px solid red;
	}
	#left:focus::after {
		display: none;
	}
	#left h1#news {
		margin: 10px;
		width: 150px;
	}
	#left h1#news::after {
		display: none;
	}
	#left a.breakingnews::after {
		height: 100%;
		width: 2px;
		left: -10px;
		bottom: 0px;
	}
	#left a.breakingnews {
		margin: 10px;
		min-width: 200px;
		max-width: 200px;
	}
	#left a.breakingnews .news_content {
		display: none;
	}
	#left a.breakingnews .news_info {
		text-align: left;
	}
}
